body {
  display: block;
  margin: 0px;
  font-family: "Abel", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

/* ----- Page Wrapper----- */
/*Override Grid Bootstrap*/
@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
