.menu-sidebar {
  background-color: #122f3b !important;
}
.navbar-sidebar {
  padding: 35px 0px 0px 0px !important;
  padding-bottom: 0;
}
.navbar-sidebar .navbar__list li a {
  color: #ffffff !important;
  padding-left: 20px !important;
}
.navbar-sidebar .navbar__list li.active > a,
li a:hover {
  color: #ffffff !important;
  background: #07a7e3;
  background: -moz-linear-gradient(-45deg, #07a7e3 0%, #32dac3 100%);
  background: -webkit-linear-gradient(-45deg, #07a7e3 0%, #32dac3 100%);
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$qp-color-1, endColorstr=$qp-color-2,GradientType=1 );
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; */
}
/* .navbar-sidebar .navbar__list li a:hover {
  color: #4272d7;
} */
.header-desktop {
  background: #ffffff !important;
}

.account-dropdown__item a:hover,
.account-dropdown__footer a:hover {
  background: #07a7e3 !important;
  background: -moz-linear-gradient(-45deg, #07a7e3 0%, #32dac3 100%) !important;
  background: -webkit-linear-gradient(
    -45deg,
    #07a7e3 0%,
    #32dac3 100%
  ) !important;
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%) !important;
  color: #fff;
}
